* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:#fff;
}

.btn-menu {
	display: none;
	padding: 20px;
	background: #0d2c44;
	color:#fff;
}

.contenedor-menu {
	width: 20%;
	min-width: 300px;
	margin-top: 2rem;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}

.contenedor-menu .menu {
	width: 100%;
}

.contenedor-menu ul {
	list-style: none;
	padding-left: 0.5rem;
}

.contenedor-menu .menu li a {
	color:#ffffff;
	display: block;
	padding: 15px 20px;
}

.contenedor-li{
	display: flex;
	align-items: center;
	font-size: 0.75rem;
}

.contenedor-li:hover {
	background: #0c3144;
	color:#fff;
}

.contenido-li {
	display: flex;
	align-items: center;
	padding-left: 3rem;
	font-size: 0.75rem;
}

.contenedor-menu .menu .icono {
	font-size: 1.5rem;
	line-height: 18px;
	color:#ffffff
}

.contenedor-menu .menu .icono.izquierda {
	float: left;
	margin-right: 10px; 
}

.contenedor-menu .menu .icono.derecha {
	float: right;
	margin-left: 10px; 
}

.contenedor-menu .menu .activado > a {
	background: #1a95d5;
	color:#fff;
}
